/build/
/build-*/
/.pytest_cache/
/.venv/
/.idea/
/.vscode/
__pycache__/
*.py[cod]
*.egg-info/
*.ppm
*.el2d/
*.moc3
*.model3.json
*.motion3.json
*.exp3.json
*.physics3.json
*.pose3.json
/local/
/vendor/live2d/
/generated/
